.product-wrapper-div {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 80vh;
    margin-bottom: 20px; 
  }
  
.product-image-style {
    max-width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0;
    object-fit: cover; 
  }

  .product-image-style:hover{
    cursor: pointer;
  }
  
.product-description-div {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    height: 20%;
  }
