.header{
    background-color: #000000;
    display: flex;
}

#header-tittle{
    text-align: center;
    flex-grow: 1;
    color: #ffffff;
  }

#header-image{
    width: 80px; 
    height: 80px;
    clip-path: circle(50% at 50% 50%);
}