/* Navbar container */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  /* Navigation list */
  .nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  /* Navigation items */
  .nav-item {
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    color: rgb(80, 80, 158);
  }
  