#gallery-div{
    display: flex;
    background-color: #F2F2F2;
    padding: 0.5vw;
    flex-direction: column;
    height: 100%;
}

#gallery-content-wrapper{
    display: flex;
}

#gallery-product-card-div{
    display: flex;
    flex-wrap: wrap;
    
    padding: 5%;
    justify-content: space-between;
    flex: 60%;
}