#form-style{
    display: flex;
    flex-direction: column;
    background-color: #d9d2d2;
    align-items: center;
    height: 65vh;
    width: 50vw;
    justify-content: space-evenly;
    padding: 10px;
}

#form-style input{
  display: flex;
  justify-content: space-between;
  height: 60%;
}

#form-style button{
  background-color: black;
  color: white;
  margin-top: 5px;
  width: 25%;
  height: 7.5%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#form-style button:hover{
  box-shadow: 0px 5px 5px rgb(117, 117, 117);
}

#form-div{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.navigation-link{
  color: black;
  text-decoration: none;
}

.navigation-link:hover{
  color: blue;
  text-decoration: none;
}
